body {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: sans-serif;
  background-color: #e0f4ff;
}

section {
  text-align: center;
  display: block;
  height: auto;
  margin-top: 28px;
  background-color: white;
  margin-top: 14px;
  margin-right: 25px;
  margin-left: 25px;
  border-radius: 30px;
}

.basic {
  height: 300px;
  width: 300px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
  margin-top: 25px;
  margin-bottom: 100px;
  padding-right: 25px;
  padding-left: 25px;
}

.basic:hover {
  width: 400px;
  height: 400px;
}

h1 {
  font-size: 70px;
  margin-bottom: 100px;
  padding-top: 50px;
}

@media only screen and (max-width: 780px) {
  h1 {
    font-size: 50px;
  }
}

@media only screen and (max-width: 400px) {
  h1 {
    font-size: 27px;
  }

  .basic {
    height: 230px;
    width: 230px;
  }
}